!!!
%html
  %head
    %title My Page
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag "themes/default/common", :media => "all"
    = stylesheet_link_tag "themes/default/jquery.mobile-1.3.0", :media => "all"
    = stylesheet_link_tag "themes/default/mobiscroll.datetime-2.4.1.min", :media => "all"
    = stylesheet_link_tag "themes/default/app", :media => "all"

  %body
    #group-list{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Group List
        -#%a.my-bills-btn.ui-btn-right{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-theme" => "b", :href => "javascript:void(0);"} My Bills
      %div{"data-role" => "content"}
        %a.create-group{"data-role" => "button", :href => "javascript:void(0);"}create my group.
        %h2 My Groups
        %ul.my-orders-ul{"data-inset" => "true", "data-role" => "listview"}
        %h2 Available Groups
        %ul.group-list-ul{"data-inset" => "true", "data-role" => "listview"}

  = javascript_include_tag "jquery/jquery-1.9.1"
  = javascript_include_tag "jquery/jquery.mobile-1.3.0"
  = javascript_include_tag "jquery/mobiscroll.datetime-2.4.1.min"
  = javascript_include_tag "utility/date"
  = javascript_include_tag "utility/utility"
  = javascript_include_tag "logic/group-list"
  = javascript_include_tag "logic/group-show"
  = javascript_include_tag "logic/group-details"
  = javascript_include_tag "logic/group-create"
  = javascript_include_tag "logic/success"
  = javascript_include_tag "logic/mybills"
  = javascript_include_tag "logic/mybills-details"
  = javascript_include_tag "app-logic"