#create-group{"data-role" => "page"}
  %div{"data-role" => "header"}
    %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "c", :href => "#group-list"} 返回
    %h1 创建饭团
  %div{"data-role" => "content"}
    %h2 饭团名 :
    %input{:type => "text"}
    %fieldset{"data-role" => "controlgroup"}
      %legend 饭馆们 :
      - @restaurant.each do |item|
        - if item.id == 1
          %input{:id => "radio-box-#{item.id}",:checked => "checked",  :name => "radio-choice-v-2", :type => "radio", :value => "#{item.id}"}
        - else
          %input{:id => "radio-box-#{item.id}", :name => "radio-choice-v-2", :type => "radio", :value => "#{item.id}"}

        %label{:for => "radio-box-#{item.id}"}= item.name

    %a.more-restaurants{"data-role" => "button", :href => "javascript:void(0);"} 选择其他馆子

    %h2 截止日期 :
    %ul.listview{"data-role" => "listview", "data-inset"=>"true"}
      %li
        %span#show-Time
    %div#timePicker
    %a.create-group-btn{"data-role" => "button", :href => "javascript:void(0);"} 创建