!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Ws Rails"
      %meta{:content => content_for?(:description) ? yield(:description) : "Ws Rails", :name => "description"}
        -#= stylesheet_link_tag "application", :media => "all"
        -#= javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    -#%header.navbar.navbar-fixed-top
    -#  %nav.navbar-inner
    -#    .container
    -#      = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
