!!!
%html
  %head
    %title My Page
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no", :name => "viewport"}
      = stylesheet_link_tag "themes/default/common", :media => "all"
      = stylesheet_link_tag "themes/default/jquery.mobile-1.2.0", :media => "all"
      = stylesheet_link_tag "themes/default/mobiscroll.datetime-2.4.1.min", :media => "all"
      = stylesheet_link_tag "themes/default/app", :media => "all"
      = javascript_include_tag "jquery-1.9.1"
      = javascript_include_tag "jquery.mobile-1.2.0"
      = javascript_include_tag "utility/date"
      = javascript_include_tag "jquery/mobiscroll"
      = javascript_include_tag "utility/utility"
      = javascript_include_tag "app-logic"
  %body
    #user-restaurant-list{"data-role" => "page"}
      %div{"data-role" => "header"}
        %h1 Group List
        %a.ui-btn-right{"data-icon" => "arrow-r", "data-iconpos" => "right", "data-theme" => "b", :href => "#user-recharge"} My Bills
      %div{"data-role" => "content"}
        %a{"data-role" => "button", :href => "#user-create-content"} I want to create my group.
        %h2 My Orders
        %ul.my-orders-ul{"data-inset" => "true", "data-role" => "listview"}
        %h2 Available Groups
        %ul.group-list-ul{"data-inset" => "true", "data-role" => "listview"}
    #user-create-content{"data-role" => "page"}
      %div{"data-role" => "header"}
        %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#user-restaurant-list"} Back
        %h1 Restaurant List
      / /header
      %div{"data-role" => "content"}
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "#user-restaurant-details"} 九头鹰
          %li
            %a{:href => "#user-restaurant-details"} 来福士超市
          %li
            %a{:href => "#user-restaurant-details"} 面馆
        %h2 PassWord:
        %input{:type => "text"}
          %h2
            Cut-Off Date :
            %span#show-Time
          #timePicker
          %a.create-group-btn{"data-role" => "button", :href => "#user-restaurant-list"} Create This Group
    #user-recharge{"data-role" => "page"}
      %div{"data-role" => "header"}
        %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#user-restaurant-list"} Back
        %h1 Recharge List
      / /header
      %div{"data-role" => "content"}
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li
            %a{:href => "#recharge-details"} 九头鹰 2013-1-12  34$
          %li
            %a{:href => "#recharge-details"} 来福士超市 2013-1-23  34$
          %li
            %a{:href => "#recharge-details"} 面馆 2013-1-28  34$
    #recharge-details{"data-role" => "page"}
      %div{"data-role" => "header"}
        %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#user-recharge"} Back
        %h1 Recharge List
      / /header
      %div{"data-role" => "content"}
        %div{"data-role" => "fieldcontain"}
          %fieldset{"data-role" => "controlgroup"}
            %input#checkbox-1.custom{:name => "checkbox-2", :type => "checkbox"}/
            %label.input-label{:for => "checkbox-1"} 小刀 2013-1-12 烩面 12￥
            %input#checkbox-2.custom{:name => "checkbox-2", :type => "checkbox"}/
            %label.input-label{:for => "checkbox-2"} 小刀 2013-1-12 烩面 14￥
            %input#checkbox-3.custom{:name => "checkbox-2", :type => "checkbox"}/
            %label.input-label{:for => "checkbox-3"} 小刀 2013-1-12 烩面 14￥
            %input#checkbox-4.custom{:name => "checkbox-2", :type => "checkbox"}/
            %label.input-label{:for => "checkbox-4"} 小刀 2013-1-12 烩面烩面烩面 14￥
        %a{"data-icon" => "grid", "data-role" => "button", :href => "javascript:void(0);"} Select All
        %div{"data-role" => "controlgroup", "data-type" => "horizontal"}
          %a{"data-icon" => "alert", "data-role" => "button", :href => "javascript:void(0);"} ReCharge
          %a{"data-icon" => "check", "data-role" => "button", :href => "javascript:void(0);"} Charged

    #confirm-success{"data-role" => "page"}
      %div{"data-role" => "header"}
        %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "b", :href => "#user-restaurant-list"} Back
        %h1 Success
      %div{"data-role" => "content"}
        %h1 Congratulations
        %p
          Hi XXX, your submit is successful. When the food is ready, This app will let your know.
        %ul{"data-inset" => "true", "data-role" => "listview"}
          %li Yours
          %li
            炒面 : 12￥
            %span.ui-li-count 1
          %li
            炒菜 : 12￥
            %span.ui-li-count 1
          %li Total : 24￥
