!!!
%html
  %head
    %title My Page
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag "themes/default/common", :media => "all"
    = stylesheet_link_tag "themes/default/jquery.mobile-1.3.0", :media => "all"
    = stylesheet_link_tag "themes/default/mobiscroll.datetime-2.4.1.min", :media => "all"
    = stylesheet_link_tag "themes/default/app", :media => "all"
  %body
    #my-bills{"data-role" => "page"}
      %div{"data-role" => "header"}
        %a.ui-btn-left{"data-icon" => "arrow-l", "data-theme" => "c", :href => "javascript:void(0);"} 返回
        %h1 My Bills
      %div.info-details{"data-role" => "content"}
        .get-money-back-content
          %ul{"data-role"=>"listview", "data-inset"=>"true"}
            %li
              %h3
                %span.bills-title 2012.12.14 Kerry
                -#%span.data 2012.12.14
                -#%span.info owner: Kerry
                %button.mark-paid{"data-mini"=>"true", "data-inline"=>"true"} 删除
              %table
                %tr
                  %td.dish-name 宫保鸡丁
                  %td.dish-price 12￥
                  %td.dish-count
                    .dish-count
                      %span.ui-li-count 2
                %tr
                  %td.dish-name 宫保鸡丁
                  %td.dish-price 12￥
                  %td.dish-count
                    .dish-count
                      %span.ui-li-count 2
                %tr
                  %td.dish-name 总计
                  %td.dish-price 24￥
                  %td.dish-count
            %li
              %h3
                %span.bills-title 2012.12.14 Kerry
                %button.mark-paid{"data-mini"=>"true", "data-inline"=>"true"} 删除
              %table
                %tr
                  %td.dish-name 宫保鸡丁
                  %td.dish-price 12￥
                  %td.dish-count
                    .dish-count
                      %span.ui-li-count 2
                %tr
                  %td.dish-name 宫保鸡丁
                  %td.dish-price 12￥
                  %td.dish-count
                    .dish-count
                      %span.ui-li-count 2
                %tr
                  %td.dish-name 总计
                  %td.dish-price 24￥
                  %td.dish-count

          %a.send-notification{"data-role" => "button", :href => "javascript:void(0);"} 提醒还钱

        .pay-back-content
          %ul{"data-role"=>"listview", "data-inset"=>"true"}
            %li
              %h3
                -#%span.data 2012.12.14
                -#%span.info owner: Kerry
                %span.bills-title 2012.12.14 Kerry
              %table
                %tr
                  %td.dish-name 宫保鸡丁
                  %td.dish-price 12￥
                  %td.dish-count
                    .dish-count
                      %span.ui-li-count 2
                %tr
                  %td.dish-name 宫保鸡丁
                  %td.dish-price 12￥
                  %td.dish-count
                    .dish-count
                      %span.ui-li-count 2
                %tr
                  %td.dish-name 总计
                  %td.dish-price 24￥
                  %td.dish-count
            %li
              %h3
                %span.data 2012.12.14
                %span.info owner: Kerry
              %table
                %tr
                  %td.dish-name 宫保鸡丁
                  %td.dish-price 12￥
                  %td.dish-count
                    .dish-count
                      %span.ui-li-count 2
                %tr
                  %td.dish-name 宫保鸡丁
                  %td.dish-price 12￥
                  %td.dish-count
                    .dish-count
                      %span.ui-li-count 2
                %tr
                  %td.dish-name 总计
                  %td.dish-price 24￥
                  %td.dish-count

      %div.fixed-footer{"data-position" => "fixed", "data-role" => "footer"}
        %div{"data-role" => "navbar"}
          %ul
            %li
              %a.get-money-back-tab{:href => "","data-icon"=>"star","data-iconpos"=>"top"} 收款
            %li
              %a.pay-back-tab{:href => "","data-icon"=>"star","data-iconpos"=>"top"} 还款

  = javascript_include_tag "jquery/jquery-1.9.1"
  = javascript_include_tag "jquery/jquery.mobile-1.3.0"
  = javascript_include_tag "jquery/jquery.cookie"
  = javascript_include_tag "utility/utility"
  = javascript_include_tag "logic/mybills"